.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    z-index: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    backdrop-filter: blur(2px);
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include media('<desktop') {
        object-position: 60% 100%;
      }
    }
  }

  .container {
    width: 100%;
    height: 100%;
  }

  &__inner {
    padding-top: 135px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    text-align: center;
    max-width: 1366px;
    width: calc(100% - 32px);
    margin: 0 auto;
  }

  &__label {
    color: #ffffff99;
    @include adaptive-value('font-size', 16, 14, 1);
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 8px;
  }

  &__title {
    color: #ffffff;
    @include adaptive-value('font-size', 68, 36, 1);
    line-height: calc(72 / 68);
    letter-spacing: -2%;
    font-weight: 400;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }

  &__description {
    color: #ffffffb8;
    letter-spacing: -1%;
    @include adaptive-value('font-size', 20, 16, 1);
    text-align: start;
    position: absolute;
    bottom: 37px;
    left: 0;
    max-width: 523px;
    width: 100%;

    @include media('<tablet') {
      position: static;
      text-align: center;
      margin-top: 16px;
      max-width: 300px;
    }
  }

  &__btn {
    position: absolute;
    bottom: 37px;
    right: 0;
    background: #e72121;
    color: #ffffff;
    margin: 0 auto;
    border: none;
    width: 211px;
    box-shadow: 0px 6.59px 23.9px 0px #ffffff52 inset;
    font-size: 18px;
    font-weight: 600;
    padding: 14px 20px;
    border-radius: 16px;
    cursor: pointer;

    @include media('<phone') {
      width: 100%;
    }
  }
}
