<footer class="site-footer" id="footer">
  <div class="container site-footer__inner">
    <div class="site-footer__top">
      <div class="site-footer__brand">
        <a href="./index.html#top" class="site-footer__logo">
          {{picture "/images/logo.png" alt="Wrong Ones" width="271" height="52"}}
        </a>
        <p class="site-footer__tagline">
          Community awareness,<br>
          <span>mapped.</span>
        </p>
      </div>

      <div class="site-footer__links">
        <nav class="site-footer__nav" aria-label="Footer">
          <ul class="site-footer__nav-list">
            <li class="site-footer__nav-item">
              <a href="./index.html#how-it-works" class="site-footer__nav-link">How it works</a>
            </li>
            <li class="site-footer__nav-item">
              <a href="./index.html#design" class="site-footer__nav-link">Privacy</a>
            </li>
            <li class="site-footer__nav-item">
              <a href="./index.html#features" class="site-footer__nav-link">Features</a>
            </li>
            <li class="site-footer__nav-item">
              <a href="./index.html#faq" class="site-footer__nav-link">FAQ</a>
            </li>
          </ul>
        </nav>

        <ul class="site-footer__socials">
          <li class="site-footer__social-item">
            <a href="#" class="site-footer__social-link" target="_blank" rel="noopener noreferrer">
              Instagram
              <img src="/images/icon-arrow-up-right.svg" alt="" width="20" height="20"
                class="site-footer__social-icon" />
            </a>
          </li>
          <li class="site-footer__social-item">
            <a href="#" class="site-footer__social-link" target="_blank" rel="noopener noreferrer">
              YouTube
              <img src="/images/icon-arrow-up-right.svg" alt="" width="20" height="20"
                class="site-footer__social-icon" />
            </a>
          </li>
          <li class="site-footer__social-item">
            <a href="#" class="site-footer__social-link" target="_blank" rel="noopener noreferrer">
              TikTok
              <img src="/images/icon-arrow-up-right.svg" alt="" width="20" height="20"
                class="site-footer__social-icon" />
            </a>
          </li>
          <li class="site-footer__social-item">
            <a href="#" class="site-footer__social-link" target="_blank" rel="noopener noreferrer">
              Facebook
              <img src="/images/icon-arrow-up-right.svg" alt="" width="20" height="20"
                class="site-footer__social-icon" />
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="site-footer__bottom">
      <p class="site-footer__copy">
        © <span data-year></span> Wrong Ones. All rights reserved.
      </p>
      <div class="site-footer__legal">
        <a href="./privacy.html" class="site-footer__legal-link">Privacy policy</a>
        <a href="./terms.html" class="site-footer__legal-link">Terms of use</a>
      </div>
    </div>
  </div>
</footer>