// Typography

h1,
h2,
h3 {
  font-weight: bold;
  margin: 0;
  color: $headings-color;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  @include adaptive-value('font-size', 60, 32, 1);
  letter-spacing: -2%;
  font-weight: 400;
  line-height: calc(68 / 60);
  text-align: center;
  color: #7d7d7d;

  @include media('<tablet') {
    letter-spacing: -1%;
  }

  span {
    color: #ffffff;
  }
}

h3 {
  font-size: $h3-font-size;
}

p {
  margin: 0;
  letter-spacing: -1%;
  color: #ffffff;
  text-align: center;

  &.fz20 {
    @include adaptive-value('font-size', 20, 16, 1);
    line-height: calc(26 / 20);
  }

  &.fz18 {
    @include adaptive-value('font-size', 18, 16, 1);
    line-height: calc(24 / 18);
  }
}

a {
  color: $base-link-color;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

a:not([class]) {
  text-decoration: underline;
  text-underline-offset: 0.18em;
  text-decoration-thickness: from-font;
}

br {
  &.mobile-only {
    display: none;

    @include media('<phone') {
      display: block;
    }
  }

  &.desktop-only {
    display: none;

    @include media('>=phone') {
      display: block;
    }
  }
}
